body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0;
  padding: 0;
  background: #e9ecef;
  background-image: url("https://media.discordapp.net/attachments/1024978326353350676/1169539324900024320/004741a27427f7ca.png?ex=655effe0&is=654c8ae0&hm=e21d51df8d8f0b34fc045598ef343c117e1d6dfc48b1dee133b53a5e031b28a3&=&width=916&height=916");
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
